
.controller {
    background-color: #d8c5e6;
    opacity: 70%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    border-radius: 100px;
    max-width: fit-content;
    display: flex;
    position: relative;
    align-self: center;
}

.controller ul {
    text-decoration: none;
    align-items: center;
    list-style-type: none;
    display: flex;
    text-align: center;
    padding: .5rem 2rem;
    overflow: hidden;
    gap: 5rem;
}

.controller-item:hover {
    transition: all 0.4s ease-in-out;
    color: rgba(59, 75, 80, 0.96);
}

.controller-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: linear-gradient(90deg, #01254e, #89b479);
    border-radius: 0;
    transition: all 0.5s ease-in-out;
}

.controller button {
    border: none;
    background: none;
}

.controller button:hover {
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}