.confirmButton {
    margin-top: 3rem;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 7px 40px;
    font-size: 40px;
    background: #d8c5e6;
    color: rgba(0, 0, 0, 0.64);
    width: auto;
    cursor: pointer;
    font-family: "Marker Felt", "Anonymous Pro", serif;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin-bottom: 2rem;
}
.confirmButton:hover {
    opacity: 0.8;
    transition: ease-in-out 0.3s;
}

.socialButtons {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 0.5rem;
    justify-content: center;
    width: 100%;
}