@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100vw;
    background-color: #6788AF;
    margin-left: calc(-50vw + 50%);
    border-bottom: 2px solid rgba(2, 25, 57, 0.3);
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.1));
}

.navbar ul li:first-child {
    margin-right: auto;
}

.nav-item {
    font-family: "Anonymous Pro", serif;
    font-size: 1.7rem;
    padding: clamp(1rem, 1.5rem, 1.5rem);
    color: black;
    font-style: normal;
    font-weight: 500;
    border-radius: 100px;
    position: relative;
}

.navbar a {
    text-decoration: none;
}

.navbar ul {
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    display: flex;
    text-align: center;
    padding: 30px;
    overflow: hidden;
}

.nav-item:hover {
    transition: all 0.4s ease-in-out;
    color: #c1dee6;
    opacity: 0.9;
}

.nav-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: linear-gradient(90deg, #01254e, #94C5FF);
    border-radius: 0;
    transition: all 0.5s ease-in-out;
}

.nav-item:hover::before {
    width: 100%;
    border-radius: 50%;
}

.home-icon {
    align-items: center;
    width: 70%;
    height: auto;
    border-radius: 10px;
}

.home-icon:hover {
    background-color: rgba(193, 222, 230, 0.27);
    transition: all 0.4s ease-in-out;
}